
@keyframes spring {
    0% { transform: translateY(100.0px); }
    1% { transform: translateY(99.13623574247798px); }
    2% { transform: translateY(96.69112375229597px); }
    3% { transform: translateY(92.88489368865109px); }
    4% { transform: translateY(87.93592434141986px); }
    5% { transform: translateY(82.0572543521645px); }
    6% { transform: translateY(75.45357794450503px); }
    7% { transform: translateY(68.31872170108329px); }
    8% { transform: translateY(60.83359072520602px); }
    9% { transform: translateY(53.16456589423678px); }
    10% { transform: translateY(45.462328340444316px); }
    11% { transform: translateY(37.8610827578342px); }
    12% { transform: translateY(30.478147590395153px); }
    13% { transform: translateY(23.413877555776907px); }
    14% { transform: translateY(16.751882236256055px); }
    15% { transform: translateY(10.559503555683802px); }
    16% { transform: translateY(4.888514780927567px); }
    17% { transform: translateY(-0.22399584071479683px); }
    18% { transform: translateY(-4.754592652403389px); }
    19% { transform: translateY(-8.692345677981606px); }
    20% { transform: translateY(-12.037601601601544px); }
    21% { transform: translateY(-14.800702737088978px); }
    22% { transform: translateY(-17.000681564528964px); }
    23% { transform: translateY(-18.66395570691064px); }
    24% { transform: translateY(-19.823045399610418px); }
    25% { transform: translateY(-20.515332630823767px); }
    26% { transform: translateY(-20.781878256645548px); }
    27% { transform: translateY(-20.66631056899626px); }
    28% { transform: translateY(-20.213796060322096px); }
    29% { transform: translateY(-19.47010052195237px); }
    30% { transform: translateY(-18.48074616294655px); }
    31% { transform: translateY(-17.290268166946852px); }
    32% { transform: translateY(-15.941572033968976px); }
    33% { transform: translateY(-14.475391194808097px); }
    34% { transform: translateY(-12.929842745401988px); }
    35% { transform: translateY(-11.340077730105946px); }
    36% { transform: translateY(-9.738021205316238px); }
    37% { transform: translateY(-8.152196333541696px); }
    38% { transform: translateY(-6.607625985034682px); }
    39% { transform: translateY(-5.125804748991203px); }
    40% { transform: translateY(-3.7247338664744944px); }
    41% { transform: translateY(-2.4190113782636136px); }
    42% { transform: translateY(-1.2199697171615842px); }
    43% { transform: translateY(-0.13585304943448673px); }
    44% { transform: translateY(0.8279731329750573px); }
    45% { transform: translateY(1.668787366121649px); }
    46% { transform: translateY(2.386259320813855px); }
    47% { transform: translateY(2.982185008935234px); }
    48% { transform: translateY(3.4602159197046234px); }
    49% { transform: translateY(3.8255873597619727px); }
    50% { transform: translateY(4.084850688081232px); }
    51% { transform: translateY(4.24561354029046px); }
    52% { transform: translateY(4.316291538655004px); }
    53% { transform: translateY(4.305874394096421px); }
    54% { transform: translateY(4.223708734218468px); }
    55% { transform: translateY(4.079299444106876px); }
    56% { transform: translateY(3.8821307910813396px); }
    57% { transform: translateY(3.6415081257625825px); }
    58% { transform: translateY(3.366420513726298px); }
    59% { transform: translateY(3.065424257464877px); }
    60% { transform: translateY(2.746546919122028px); }
    61% { transform: translateY(2.4172111513035555px); }
    62% { transform: translateY(2.0841773861172808px); }
    63% { transform: translateY(1.7535042206106133px); }
    64% { transform: translateY(1.4305251684385567px); }
    65% { transform: translateY(1.1198403208228513px); }
    66% { transform: translateY(0.8253213721011399px); }
    67% { transform: translateY(0.550128413490103px); }
    68% { transform: translateY(0.2967368798911796px); }
    69% { transform: translateY(0.06697304525291603px); }
    70% { transform: translateY(-0.1379435013435515px); }
    71% { transform: translateY(-0.31735190764992094px); }
    72% { transform: translateY(-0.47109806910352603px); }
    73% { transform: translateY(-0.5994799360500069px); }
    74% { transform: translateY(-0.7031913493653175px); }
    75% { transform: translateY(-0.783265522113652px); }
    76% { transform: translateY(-0.8410191644902199px); }
    77% { transform: translateY(-0.8779981256358482px); }
    78% { transform: translateY(-0.8959253014333646px); }
    79% { transform: translateY(-0.8966514343101917px); }
    80% { transform: translateY(-0.8821093113003942px); }
    81% { transform: translateY(-0.8542717518168708px); }
    82% { transform: translateY(-0.8151136681366022px); }
    83% { transform: translateY(-0.7665783806208193px); }
    84% { transform: translateY(-0.7105482770500604px); }
    85% { transform: translateY(-0.6488198217714292px); }
    86% { transform: translateY(-0.583082846042271px); }
    87% { transform: translateY(-0.514903986203219px); }
    88% { transform: translateY(-0.44571408114624234px); }
    89% { transform: translateY(-0.37679929480534113px); }
    90% { transform: translateY(-0.3092956927997603px); }
    91% { transform: translateY(-0.24418697448986837px); }
    92% { transform: translateY(-0.18230504204290732px); }
    93% { transform: translateY(-0.12433307606385391px); }
    94% { transform: translateY(-0.07081078225963378px); }
    95% { transform: translateY(-0.022141474776993242px); }
    96% { transform: translateY(0.02139933144291728px); }
    97% { transform: translateY(0.05965413545655496px); }
    98% { transform: translateY(0.09257277287129106px); }
    99% { transform: translateY(0.12020112789257187px); }
    100% { transform: translateY(0.14266949507896198px); }
    }
    